# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [2]:
% matplotlib inline
import datetime
import numpy as np
import pandas as pd

## Load the data into a DataFrame
# pd.read_csv()
df = pd.read_csv("/Users/russellsasaki/Downloads/Iowa_Liquor_sales_sample_10pct.csv")
print df.columns
df.head()
## Transform the dates if needed, e.g.
# df["Date"] = pd.to_datetime(df["Date"], format="%m-%d-%y")

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

In [5]:
# Remove redundant columns
del df["Category Name"]
del df["Item Description"]
del df["County"]

In [6]:
# Remove $ from certain columns
# Remove $ from certain columns
cols = ["State Bottle Cost", "State Bottle Retail", "Sale (Dollars)"]

for col in cols:
    df[col] = df[col].apply(lambda x: float(x[1:]))

In [7]:
mystring = "$500"
mystring[1:]

'500'

In [8]:
# Convert dates
df["Date"] = pd.to_datetime(df["Date"], format="%m/%d/%Y")

In [9]:
# Drop or replace bad values
df.dropna(inplace=True)


# Convert integers
df["County Number"] = df["County Number"].astype(int)
df["Category"] = df["Category"].astype(int)

In [10]:
# Determine which stores were open all of 2015
# Find the first and last sales date.
dates = df.groupby(by=["Store Number"], as_index=False)


dates = dates.agg({"Date": [np.min, np.max]})
dates.columns=[''.join(col).strip() for col in dates.columns.values]
dates.head()

# Filter out stores that opened or closed throughout the year
lower_cutoff=pd.Timestamp('20150101')
upper_cutoff=pd.Timestamp('20151231')

mask = (dates["Dateamin"] < lower_cutoff) & (dates['Dateamax'] 
                                              > upper_cutoff)

good_stores = dates[mask]["Store Number"]

In [11]:
good_stores

Series([], Name: Store Number, dtype: int64)

In [9]:
df.head()

,Date,Store Number,City,Zip Code,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9,1051100,55,54436,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82,1011100,395,27605,750,13.75,20.63,2,41.26,1.5,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7,1011200,65,19067,1000,12.59,18.89,24,453.36,24.0,6.34
3,2016-02-03,2501,AMES,50010,85,1071100,395,59154,1750,9.50,14.25,6,85.50,10.5,2.77
4,2015-08-18,3654,BELMOND,50421,99,1031080,297,35918,1750,7.20,10.80,12,129.60,21.0,5.55

In [41]:
# Margin and Price per liter
df['Margin']= (df['State Bottle Retail']*df['Bottles Sold'])-(df['State Bottle Cost']* df['Bottles Sold'])
df['Price per Liter']= df['Sale (Dollars)']/ df['Volume Sold (Liters)']
df.head()

,Date,Store Number,City,Zip Code,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Margin,Price per Liter
22111,2015-01-08,2106,CEDAR FALLS,50613,7,1062200,35,43127,1000,9.50,14.25,36,513.00,36.0,9.51,171.00,14.25
47659,2015-01-08,2106,CEDAR FALLS,50613,7,1022100,410,88296,750,27.00,40.50,12,486.00,9.0,2.38,162.00,54.00
65214,2015-01-08,2106,CEDAR FALLS,50613,7,1062310,259,43026,750,5.78,8.67,12,104.04,9.0,2.38,34.68,11.56
66346,2015-01-08,2106,CEDAR FALLS,50613,7,1081200,305,73055,750,12.50,18.75,12,225.00,9.0,2.38,75.00,25.00
80570,2015-01-08,2106,CEDAR FALLS,50613,7,1062200,434,46351,1000,4.34,6.51,12,78.12,12.0,3.17,26.04,6.51

In [184]:
##### Sales per store, 2015

# Filter by our start and end dates
df.sort_values(by=["Store Number", "Date"], inplace=True)
start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20151231")
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
sales = df[mask]

# Group by store name
sales = sales.groupby(by=["Store Number", 'Zip Code', 'City','County Number', 'Bottles Sold'], as_index=False)

sales = sales.agg({ "Sale (Dollars)": [np.sum, np.mean],
                   "Volume Sold (Liters)": [np.sum, np.mean],
                   "Margin": np.mean,"Margin": np.sum,
                   "Price per Liter": np.mean
                   })
# Collapse the column indices
sales.columns = [' '.join(col).strip() for col in sales.columns.values]
# Rename columns

# Quick check
sales.head()

,Store Number,Zip Code,City,County Number,Bottles Sold,Price per Liter mean,Margin sum,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean
0,2106,50613,CEDAR FALLS,7,1,30.775238,103.06,309.14,22.081429,9.10,0.6500
1,2106,50613,CEDAR FALLS,7,2,25.923611,317.54,946.88,39.453333,37.50,1.5625
2,2106,50613,CEDAR FALLS,7,3,17.957333,147.42,442.20,44.220000,25.50,2.5500
3,2106,50613,CEDAR FALLS,7,4,32.468333,134.36,403.00,100.750000,14.00,3.5000
4,2106,50613,CEDAR FALLS,7,5,20.000000,25.00,75.00,75.000000,3.75,3.7500

In [181]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12397 entries, 0 to 12396
Data columns (total 11 columns):
Store Number                 12397 non-null int64
Zip Code                     12397 non-null object
City                         12397 non-null object
County Number                12397 non-null int64
Bottles Sold                 12397 non-null int64
Price per Liter mean         12397 non-null float64
Margin mean                  12397 non-null float64
Sale (Dollars) sum           12397 non-null float64
Sale (Dollars) mean          12397 non-null float64
Volume Sold (Liters) sum     12397 non-null float64
Volume Sold (Liters) mean    12397 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 1.1+ MB

In [75]:
store_margin=sales.groupby(['Store Number']).agg({'Margin sum':np.sum})

In [76]:
store_margin.sort_values('Margin sum',axis=0, ascending=False)

              Margin sum
Store Number
2633           333816.91
4829           293196.99
3385           147884.62
2512           140143.46
3420           117593.34
3952           111230.21
3814            83004.48
3354            80244.69
3773            77525.08
2670            75853.72
2593            64197.45
3447            62683.22
2629            61636.70
5102            61504.64
2625            60794.18
3524            60528.54
2663            58512.28
3820            57650.18
4167            55756.18
2648            52870.35
2561            52844.61
2616            51472.43
4677            50517.91
2502            50345.31
2500            49801.48
2106            48838.08
4312            48493.09
2501            48430.73
2619            48105.29
2506            47925.66
...                  ...
4954              190.44
4985              177.32
4929              176.16
5152              173.68
5212              168.28
5206              167.02
4737              164.64
5020              157.56
5161              154.55
4961              150.09
4990              140.28
4776              125.64
4121              125.04
5178              112.19
4778              102.00
5191              101.34
5186               99.72
5201               96.65
4834               90.36
5175               74.99
5213               60.00
5056               58.24
5193               46.53
4059               35.15
5192               30.00
5053               22.50
5215               18.68
4939               17.81
4567               15.06
5205               13.34

[1372 rows x 1 columns]

In [77]:
zip_code_margin=sales.groupby(['Zip Code']).agg({'Margin sum':np.sum})

In [78]:
zip_code_margin.sort_values('Margin sum', axis=0, ascending=False)

          Margin sum
Zip Code
50320      357269.15
50314      357011.44
52402      328228.12
52240      292839.51
50010      258178.25
52807      199324.51
50311      198192.62
52722      189199.99
51501      184031.18
50266      182647.29
52241      176377.35
52001      174947.81
50613      172650.45
50021      140000.28
50265      139732.52
50401      132844.28
51503      131572.90
50703      131535.86
52404      127670.82
50702      127495.32
50501      127076.09
52804      125568.93
51106      125332.95
50317      120843.42
50322      108337.43
50315       94563.42
52601       92224.92
50158       89703.70
52761       89129.64
52732       88658.75
...              ...
51575         586.69
51002         577.44
51466         573.12
50207         552.21
50261         551.70
50680         528.54
50581         522.30
51005         508.26
50541         492.00
50136         491.14
50046         478.32
51462         457.10
52316         434.08
52351         387.42
51053         352.27
50542         347.88
50452         345.54
50864         341.32
52777         299.63
50162         296.74
52623         283.98
50150         271.00
51338         191.64
51553         191.16
51038         177.32
52337         157.56
51535         140.28
52223          74.99
51453          46.53
52328          30.00

[409 rows x 1 columns]

In [96]:
city_margin=sales.groupby(['City','Zip Code']).agg({'Margin sum':np.sum})

In [97]:
city_margin.sort_values('Margin sum', axis=0, ascending=False)

                          Margin sum
City            Zip Code
DES MOINES      50320      357269.15
                50314      357011.44
CEDAR RAPIDS    52402      328228.12
IOWA CITY       52240      292839.51
AMES            50010      258178.25
DAVENPORT       52807      199324.51
BETTENDORF      52722      189199.99
COUNCIL BLUFFS  51501      184031.18
WEST DES MOINES 50266      181651.37
CORALVILLE      52241      176377.35
CEDAR FALLS     50613      172650.45
DUBUQUE         52001      170399.03
WINDSOR HEIGHTS 50311      161565.45
ANKENY          50021      140000.28
WEST DES MOINES 50265      139732.52
MASON CITY      50401      132844.28
COUNCIL BLUFFS  51503      131572.90
WATERLOO        50703      131535.86
CEDAR RAPIDS    52404      127670.82
FORT DODGE      50501      127076.09
DAVENPORT       52804      125568.93
SIOUX CITY      51106      125332.95
WATERLOO        50702      122440.43
DES MOINES      50317       96834.66
                50315       94563.42
BURLINGTON      52601       92224.92
URBANDALE       50322       91827.81
MARSHALLTOWN    50158       89703.70
MUSCATINE       52761       89129.64
CLINTON         52732       88658.75
...                              ...
WALL LAKE       51466         573.12
NEW SHARON      50207         552.21
VAN METER       50261         551.70
WELLSBURG       50680         528.54
ROLFE           50581         522.30
MEDIAPOLIS      52405         510.88
CLIVE           50322         510.44
AURELIA         51005         508.26
GILMORE CITY    50541         492.00
KELLOG          50136         491.14
CAMBRIDGE       50046         478.32
SCRANTON        51462         457.10
NORTH ENGLISH   52316         434.08
WALFORD         52351         387.42
SCHALLER        51053         352.27
GOLDFIELD       50542         347.88
LATIMER         50452         345.54
VILLISCA        50864         341.32
WHEATLAND       52777         299.63
MELBOURNE       50162         296.74
DANVILLE        52623         283.98
LOVILIA         50150         271.00
EVERLY          51338         191.64
MINDEN          51553         191.16
MERRILL         51038         177.32
STANWOOD        52337         157.56
GRISWOLD        51535         140.28
DELHI           52223          74.99
LOHRVILLE       51453          46.53
ROBINS          52328          30.00

[436 rows x 1 columns]

In [112]:
zips_in_city=sales.groupby(['City', 'Zip Code']).agg({'Zip Code':'count'})
zips_in_city.sort_values('Zip Code', axis=0, ascending=False)

                          Zip Code
City            Zip Code
CEDAR RAPIDS    52402           28
COUNCIL BLUFFS  51501           26
CEDAR RAPIDS    52404           24
AMES            50010           21
IOWA CITY       52240           20
DES MOINES      50317           18
WATERLOO        50703           16
DUBUQUE         52001           16
CEDAR FALLS     50613           16
WEST DES MOINES 50266           15
                50265           15
FORT DODGE      50501           15
MUSCATINE       52761           15
COUNCIL BLUFFS  51503           15
WATERLOO        50702           14
URBANDALE       50322           14
WATERLOO        50701           14
CORALVILLE      52241           13
MASON CITY      50401           13
ANKENY          50021           12
SIOUX CITY      51106           12
BURLINGTON      52601           12
MARSHALLTOWN    50158           12
BETTENDORF      52722           12
DES MOINES      50315           11
CEDAR RAPIDS    52405           11
STORM LAKE      50588           10
DAVENPORT       52804           10
MARION          52302           10
OTTUMWA         52501           10
...                            ...
GEORGE          51237            1
GILMORE CITY    50541            1
GLADBROOK       50635            1
GOLDFIELD       50542            1
GRAETTINGER     51342            1
GRAND JUNCTION  50107            1
GRAND MOUND     52751            1
GRANGER         50109            1
GREENE          50636            1
GRISWOLD        51535            1
GUTTENBURG      52052            1
HAMBURG         51640            1
HARPERS FERRY   52146            1
HAZLETON        50641            1
LATIMER         50452            1
HOLSTEIN        51025            1
HOSPERS         51238            1
HUBBARD         50122            1
HUMESTON        50123            1
IRETON          51027            1
Inwood          51240            1
JESUP           50648            1
JEWELL          50130            1
KELLOGG         50135            1
KEOTA           52248            1
KINGSLEY        51028            1
LA PORTE CITY   50651            1
LAKE CITY       51449            1
LANSING         52151            1
ZWINGLE         52079            1

[436 rows x 1 columns]

In [108]:
sales['Zip Code'].value_counts()

52402    28
51501    26
52404    24
50010    21
52240    20
50317    20
50322    19
52001    18
50266    16
50703    16
50702    16
50613    16
51503    15
50265    15
52761    15
50501    15
50701    14
50401    13
52241    13
50158    12
52722    12
52405    12
50021    12
52601    12
51106    12
50315    11
52501    11
52302    10
50588    10
52804    10
         ..
52328     1
51553     1
50048     1
50452     1
50635     1
51535     1
50841     1
52151     1
51050     1
52223     1
51001     1
51002     1
51551     1
51004     1
51005     1
52087     1
52084     1
51559     1
51358     1
50535     1
51355     1
50225     1
52751     1
51058     1
50228     1
52351     1
52316     1
52352     1
52356     1
52571     1
Name: Zip Code, dtype: int64

In [122]:
margin_sum_max=sales.groupby(['City', 'Zip Code', 'Store Number']).agg({'Margin sum':np.sum})
margin_sum_max.sort_values('Margin sum', axis=0, ascending=False)

                                       Margin sum
City            Zip Code Store Number
DES MOINES      50320    2633           333816.91
                50314    4829           293196.99
CEDAR RAPIDS    52402    3385           147884.62
IOWA CITY       52240    2512           140143.46
WINDSOR HEIGHTS 50311    3420           117593.34
BETTENDORF      52722    3952           111230.21
WEST DES MOINES 50266    3814            83004.48
DAVENPORT       52807    3354            80244.69
CEDAR RAPIDS    52401    3773            77525.08
CORALVILLE      52241    2670            75853.72
CARROLL         51401    2593            64197.45
SIOUX CITY      51106    3447            62683.22
COUNCIL BLUFFS  51503    2629            61636.70
MOUNT VERNON    52314    5102            61504.64
DAVENPORT       52804    2625            60794.18
AMES            50010    3524            60528.54
URBANDALE       50322    2663            58512.28
SIOUX CITY      51103    3820            57650.18
DUBUQUE         52001    4167            55756.18
WEST DES MOINES 50265    2648            52870.35
DES MOINES      50321    2561            52844.61
CLINTON         52732    2616            51472.43
CORALVILLE      52241    4677            50517.91
ANKENY          50021    2502            50345.31
AMES            50010    2500            49801.48
CEDAR FALLS     50613    2106            48838.08
COUNCIL BLUFFS  51501    4312            48493.09
AMES            50010    2501            48430.73
WEST DES MOINES 50266    2619            48105.29
BURLINGTON      52601    2506            47925.66
...                                           ...
URBANDALE       50322    4954              190.44
MERRILL         51038    4985              177.32
ADEL            50003    4929              176.16
WATERLOO        50702    5152              173.68
MASON CITY      50401    5212              168.28
GRUNDY CENTER   50638    5206              167.02
STORM LAKE      50588    4737              164.64
STANWOOD        52337    5020              157.56
COUNCIL BLUFFS  51501    5161              154.55
DUBUQUE         52003    4961              150.09
GRISWOLD        51535    4990              140.28
CARROLL         51401    4776              125.64
WAPELLO         52653    4121              125.04
WEST LIBERTY    52776    5178              112.19
STORM LAKE      50588    4778              102.00
GUTHRIE CENTER  50115    5191              101.34
WEST UNION      52175    5186               99.72
DUBUQUE         52001    5201               96.65
MUSCATINE       52761    4834               90.36
DELHI           52223    5175               74.99
MONTROSE        52639    5213               60.00
COUNCIL BLUFFS  51501    5056               58.24
LOHRVILLE       51453    5193               46.53
BELLE PLAINE    52208    4059               35.15
ROBINS          52328    5192               30.00
IOWA CITY       52245    5053               22.50
LE CLAIRE       52753    5215               18.68
URBANDALE       50322    4939               17.81
DES MOINES      50313    4567               15.06
GLIDDEN         51443    5205               13.34

[1373 rows x 1 columns]

In [126]:
county_max_margin=sales.groupby(['County Number','City', 'Zip Code', 'Store Number']).agg({'Margin sum':np.sum
                                                                                           })
county_max_margin.sort_values('Margin sum', axis=0, ascending=False)

                                                     Margin sum
County Number City            Zip Code Store Number
77            DES MOINES      50320    2633           333816.91
                              50314    4829           293196.99
57            CEDAR RAPIDS    52402    3385           147884.62
52            IOWA CITY       52240    2512           140143.46
77            WINDSOR HEIGHTS 50311    3420           117593.34
82            BETTENDORF      52722    3952           111230.21
25            WEST DES MOINES 50266    3814            83004.48
82            DAVENPORT       52807    3354            80244.69
57            CEDAR RAPIDS    52401    3773            77525.08
52            CORALVILLE      52241    2670            75853.72
14            CARROLL         51401    2593            64197.45
97            SIOUX CITY      51106    3447            62683.22
78            COUNCIL BLUFFS  51503    2629            61636.70
57            MOUNT VERNON    52314    5102            61504.64
82            DAVENPORT       52804    2625            60794.18
85            AMES            50010    3524            60528.54
77            URBANDALE       50322    2663            58512.28
97            SIOUX CITY      51103    3820            57650.18
31            DUBUQUE         52001    4167            55756.18
77            WEST DES MOINES 50265    2648            52870.35
              DES MOINES      50321    2561            52844.61
23            CLINTON         52732    2616            51472.43
52            CORALVILLE      52241    4677            50517.91
77            ANKENY          50021    2502            50345.31
85            AMES            50010    2500            49801.48
7             CEDAR FALLS     50613    2106            48838.08
78            COUNCIL BLUFFS  51501    4312            48493.09
85            AMES            50010    2501            48430.73
77            WEST DES MOINES 50266    2619            48105.29
29            BURLINGTON      52601    2506            47925.66
...                                                         ...
77            URBANDALE       50322    4954              190.44
75            MERRILL         51038    4985              177.32
25            ADEL            50003    4929              176.16
7             WATERLOO        50702    5152              173.68
17            MASON CITY      50401    5212              168.28
38            GRUNDY CENTER   50638    5206              167.02
11            STORM LAKE      50588    4737              164.64
16            STANWOOD        52337    5020              157.56
78            COUNCIL BLUFFS  51501    5161              154.55
31            DUBUQUE         52003    4961              150.09
15            GRISWOLD        51535    4990              140.28
14            CARROLL         51401    4776              125.64
58            WAPELLO         52653    4121              125.04
70            WEST LIBERTY    52776    5178              112.19
11            STORM LAKE      50588    4778              102.00
39            GUTHRIE CENTER  50115    5191              101.34
33            WEST UNION      52175    5186               99.72
31            DUBUQUE         52001    5201               96.65
70            MUSCATINE       52761    4834               90.36
28            DELHI           52223    5175               74.99
56            MONTROSE        52639    5213               60.00
78            COUNCIL BLUFFS  51501    5056               58.24
13            LOHRVILLE       51453    5193               46.53
6             BELLE PLAINE    52208    4059               35.15
57            ROBINS          52328    5192               30.00
52            IOWA CITY       52245    5053               22.50
82            LE CLAIRE       52753    5215               18.68
77            URBANDALE       50322    4939               17.81
              DES MOINES      50313    4567               15.06
14            GLIDDEN         51443    5205               13.34

[1373 rows x 1 columns]

In [167]:
county_max_margin_per_L=sales.groupby(['County Number','City', 'Zip Code', 'Store Number']).agg({'Margin sum':np.sum,
                                                                                           'Price per Liter mean':np.sum})
county_max_margin_per_L.sort_values('Margin sum', axis=0, ascending=False).head(25)

                                                     Price per Liter mean  \
County Number City            Zip Code Store Number
77            DES MOINES      50320    2633                     21.019238
                              50314    4829                     21.449783
57            CEDAR RAPIDS    52402    3385                     19.078256
52            IOWA CITY       52240    2512                     19.783300
77            WINDSOR HEIGHTS 50311    3420                     19.146492
82            BETTENDORF      52722    3952                     23.168556
25            WEST DES MOINES 50266    3814                     27.860845
82            DAVENPORT       52807    3354                     19.001827
57            CEDAR RAPIDS    52401    3773                     24.662500
52            CORALVILLE      52241    2670                     19.260802
14            CARROLL         51401    2593                     18.432430
97            SIOUX CITY      51106    3447                     17.730097
78            COUNCIL BLUFFS  51503    2629                     19.140218
57            MOUNT VERNON    52314    5102                     20.717103
82            DAVENPORT       52804    2625                     18.676541
85            AMES            50010    3524                     17.985769
77            URBANDALE       50322    2663                     20.604345
97            SIOUX CITY      51103    3820                     20.524943
31            DUBUQUE         52001    4167                     20.730475
77            WEST DES MOINES 50265    2648                     22.403684
              DES MOINES      50321    2561                     20.117237
23            CLINTON         52732    2616                     18.648622
52            CORALVILLE      52241    4677                     27.704054
77            ANKENY          50021    2502                     20.320363
85            AMES            50010    2500                     18.988761

                                                     Margin sum
County Number City            Zip Code Store Number
77            DES MOINES      50320    2633           333816.91
                              50314    4829           293196.99
57            CEDAR RAPIDS    52402    3385           147884.62
52            IOWA CITY       52240    2512           140143.46
77            WINDSOR HEIGHTS 50311    3420           117593.34
82            BETTENDORF      52722    3952           111230.21
25            WEST DES MOINES 50266    3814            83004.48
82            DAVENPORT       52807    3354            80244.69
57            CEDAR RAPIDS    52401    3773            77525.08
52            CORALVILLE      52241    2670            75853.72
14            CARROLL         51401    2593            64197.45
97            SIOUX CITY      51106    3447            62683.22
78            COUNCIL BLUFFS  51503    2629            61636.70
57            MOUNT VERNON    52314    5102            61504.64
82            DAVENPORT       52804    2625            60794.18
85            AMES            50010    3524            60528.54
77            URBANDALE       50322    2663            58512.28
97            SIOUX CITY      51103    3820            57650.18
31            DUBUQUE         52001    4167            55756.18
77            WEST DES MOINES 50265    2648            52870.35
              DES MOINES      50321    2561            52844.61
23            CLINTON         52732    2616            51472.43
52            CORALVILLE      52241    4677            50517.91
77            ANKENY          50021    2502            50345.31
85            AMES            50010    2500            49801.48

In [170]:
zip_stores_margin=sales.groupby(['Zip Code']).agg({'Store Number':'count', 'Margin sum':np.mean})
zip_stores_margin.sort_values('Margin sum', axis=0, ascending=False)

          Store Number    Margin sum
Zip Code
50314                6  59501.906667
50320                9  39696.572222
52411                1  37893.050000
50311                7  28313.231429
52401                3  26649.983333
52314                3  23755.700000
51351                2  22749.515000
52807                9  22147.167778
51103                4  17340.965000
52722               12  15766.665833
52240               20  14641.975500
51401                6  13819.398333
52002                5  13795.772000
52087                1  13720.780000
52241               13  13567.488462
50428                4  13399.845000
50511                3  12851.036667
52136                2  12828.080000
52084                1  12795.590000
50321                5  12752.752000
52804               10  12556.893000
50010               21  12294.202381
52402               28  11722.432857
52632                7  11699.792857
50021               12  11666.690000
50266               16  11415.455625
51105                3  11371.510000
51360                6  11341.960000
51201                3  11242.503333
52732                8  11082.343750
...                ...           ...
50207                1    552.210000
50261                1    551.700000
50680                1    528.540000
51443                2    523.700000
50581                1    522.300000
51005                1    508.260000
50541                1    492.000000
50136                1    491.140000
50046                1    478.320000
51462                1    457.100000
52316                1    434.080000
52351                1    387.420000
50028                2    365.740000
51053                1    352.270000
50542                1    347.880000
50452                1    345.540000
50864                1    341.320000
52639                2    300.465000
52777                1    299.630000
50162                1    296.740000
52623                1    283.980000
50150                1    271.000000
51338                1    191.640000
51553                1    191.160000
51038                1    177.320000
52337                1    157.560000
51535                1    140.280000
52223                1     74.990000
51453                1     46.530000
52328                1     30.000000

[409 rows x 2 columns]

In [163]:
sales['Margin sum'].mean()

6942.82343044427

In [172]:
max_city=sales.groupby(['City','Zip Code']).agg({'Store Number':'count', 'Margin sum':np.mean})
max_city.sort_values('Margin sum', axis=0, ascending=False)

                          Store Number    Margin sum
City            Zip Code
DES MOINES      50314                6  59501.906667
WINDSOR HEIGHTS 50311                4  40391.362500
DES MOINES      50320                9  39696.572222
CEDAR RAPIDS    52411                1  37893.050000
MOUNT VERNON    52314                2  32910.980000
CEDAR RAPIDS    52401                3  26649.983333
MILFORD         51351                2  22749.515000
DAVENPORT       52807                9  22147.167778
OTTUWMA         52501                1  20674.760000
SIOUX CITY      51103                4  17340.965000
BETTENDORF      52722               12  15766.665833
IOWA CITY       52240               20  14641.975500
CARROLL         51401                6  13819.398333
DUBUQUE         52002                5  13795.772000
MANCHESTER      52087                1  13720.780000
CORALVILLE      52241               13  13567.488462
CLEAR LAKE      50428                4  13399.845000
ALGONA          50511                3  12851.036667
CRESCO          52136                2  12828.080000
DAVENPORT       52084                1  12795.590000
DES MOINES      50321                5  12752.752000
DAVENPORT       52804               10  12556.893000
AMES            50010               21  12294.202381
DES MOINES      50311                3  12209.056667
WEST DES MOINES 50266               15  12110.091333
PLEASANT HILL   50317                2  12004.380000
CEDAR RAPIDS    52402               28  11722.432857
KEOKUK          52632                7  11699.792857
LEMARS          51031                2  11669.355000
ANKENY          50021               12  11666.690000
...                                ...           ...
WELLSBURG       50680                1    528.540000
GLIDDEN         51443                2    523.700000
ROLFE           50581                1    522.300000
MEDIAPOLIS      52405                1    510.880000
CLIVE           50322                1    510.440000
AURELIA         51005                1    508.260000
GILMORE CITY    50541                1    492.000000
KELLOG          50136                1    491.140000
CAMBRIDGE       50046                1    478.320000
SCRANTON        51462                1    457.100000
NORTH ENGLISH   52316                1    434.080000
WALFORD         52351                1    387.420000
BAXTER          50028                2    365.740000
SCHALLER        51053                1    352.270000
GOLDFIELD       50542                1    347.880000
LATIMER         50452                1    345.540000
VILLISCA        50864                1    341.320000
MONTROSE        52639                2    300.465000
WHEATLAND       52777                1    299.630000
MELBOURNE       50162                1    296.740000
DANVILLE        52623                1    283.980000
LOVILIA         50150                1    271.000000
EVERLY          51338                1    191.640000
MINDEN          51553                1    191.160000
MERRILL         51038                1    177.320000
STANWOOD        52337                1    157.560000
GRISWOLD        51535                1    140.280000
DELHI           52223                1     74.990000
LOHRVILLE       51453                1     46.530000
ROBINS          52328                1     30.000000

[436 rows x 2 columns]

In [198]:
sales[['Zip Code','Margin sum','Price per Liter mean','Store Number']]

      Zip Code  Margin sum  Price per Liter mean  Store Number
0        50613      103.06             30.775238          2106
1        50613      317.54             25.923611          2106
2        50613      147.42             17.957333          2106
3        50613      134.36             32.468333          2106
4        50613       25.00             20.000000          2106
5        50613     1737.18             29.855932          2106
6        50613    15883.68             16.034769          2106
7        50613      593.46             37.482222          2106
8        50613     8101.20             16.155721          2106
9        50613      262.50             35.000000          2106
10       50613     6143.04             16.089394          2106
11       50613     4210.08             12.135909          2106
12       50613     2249.40             15.555926          2106
13       50613     2011.68             13.968333          2106
14       50613      182.28              6.510000          2106
15       50613     1108.80             17.320000          2106
16       50613     3289.20             12.738095          2106
17       50613     1980.00             13.740000          2106
18       50613      358.20              5.960000          2106
19       50543      260.86             24.768399          2113
20       50543      383.70             17.967259          2113
21       50543      371.82             18.034850          2113
22       50543      118.12             20.223333          2113
23       50543      428.58             14.286151          2113
24       50543     1401.72             13.809286          2113
25       50543      144.24              8.474921          2113
26       50703       18.57             18.560000          2130
27       50703       90.98             16.356389          2130
28       50703       57.87             14.873591          2130
29       50703       73.60             22.348000          2130
...        ...         ...                   ...           ...
12367    52338      435.00             58.000000          9001
12368    52338      607.20             43.733333          9001
12369    52338      590.40             39.346667          9001
12370    52338      671.04             37.273333          9001
12371    52338      267.00             17.786667          9001
12372    52338      792.00             35.200000          9001
12373    52338     4867.50             55.000000          9001
12374    52753       69.00             22.986667          9002
12375    52753      979.44             36.266667          9002
12376    52753     1035.72             38.346667          9002
12377    52753      776.16             36.702222          9002
12378    52753     1150.80             38.346667          9002
12379    52753      163.80             36.373333          9002
12380    52753      402.78             38.346667          9002
12381    52753      274.86             20.346667          9002
12382    52753     1186.20             26.346667          9002
12383    52753      691.20             28.280000          9002
12384    52753      764.40             36.373333          9002
12385    52753     1092.00             36.373333          9002
12386    52753      819.00             36.373333          9002
12387    52753     1092.00             36.373333          9002
12388    52753     2076.72             20.346667          9002
12389    50211      405.96             27.053333          9010
12390    50211     1442.16             27.366000          9010
12391    50211       72.00             22.500000          9010
12392    50061       55.08             18.346667          9013
12393    50061      225.72             25.080000          9013
12394    50061      273.00             18.186667          9013
12395    50061      186.00              6.186667          9013
12396    52001     2145.00             28.600000          9018

[12397 rows x 4 columns]

In [187]:
pplm=sales.groupby(['Zip Code']).agg({'Store Number':'count','Price per Liter mean':np.mean,
                                      'Margin sum':np.mean})
pplm.sort_values('Price per Liter mean', axis=0, ascending=False)

          Store Number  Price per Liter mean   Margin sum
Zip Code
50846                5             34.148783   433.140000
51553                2             33.961558    95.580000
51534               21             29.849255   486.970952
52338               23             27.983659   557.681304
52084               13             27.012432   984.276154
50312               56             26.957524   795.567500
52223                3             25.066667    24.996667
52401               36             24.939064  2220.831944
50314               93             24.204151  3838.832688
52753               38             23.761557   550.878421
52245               14             23.426100  1199.425000
52254                6             23.348861   142.016667
50228                7             23.223834   124.051429
52068               11             23.187906   132.885455
51101               36             23.158567   526.219444
52722              115             23.045847  1645.217304
52031               22             21.819818   354.833636
52241              126             21.798077  1399.820238
52079                8             21.784333   192.328750
50628                6             21.745418   413.651667
52553                7             21.700635   136.421429
52166                4             21.676291   567.615000
52776               16             21.641755   347.476250
50266              156             21.371791  1170.815962
50588               79             21.328563   691.395063
50316               74             21.308703   584.056081
50150                4             21.057041    67.750000
51577                6             20.918312   222.333333
50703              197             20.750907   667.694721
51450               15             20.697133   409.750000
...                ...                   ...          ...
50430                6             12.118386   150.816667
51005                3             12.072593   169.420000
50529                4             12.058056   164.655000
50542                2             12.043175   173.940000
52060               23             12.016511  1403.175217
50630                3             11.881902   463.810000
50261                5             11.788095   110.340000
50122                8             11.772392   162.831250
50438               10             11.555237   528.886000
52336                5             11.553862   260.616000
52316                8             11.506372    54.260000
50072                7             11.506160   136.204286
51338                3             11.479603    63.880000
50076                4             11.461790   240.015000
50475                4             11.419988   234.645000
52324                4             11.333667   317.175000
52623                4             11.299619    70.995000
50541                4             11.159000   123.000000
51002                4             11.094444   144.360000
51551                3             11.020175   257.060000
50585               13             10.808917   220.438462
50161                3             10.782815   292.840000
52224                3             10.758669   431.620000
50514                4             10.606726   176.475000
50669                3             10.580397   366.780000
50056                5             10.114190   202.884000
52046                4              9.701425   169.320000
50452                2              9.454381   172.770000
50680                5              9.169270   105.708000
50044                5              9.016930   122.004000

[409 rows x 3 columns]

In [189]:
pplm_bottles=sales.groupby(['Zip Code']).agg({'Store Number':'count','Price per Liter mean':np.mean,
                                      'Bottles Sold':np.sum, 'Margin sum':np.sum})
pplm_bottles.sort_values('Price per Liter mean', axis=0, ascending=False)

          Bottles Sold  Store Number  Price per Liter mean  Margin sum
Zip Code
50846               45             5             34.148783     2165.70
51553               15             2             33.961558      191.16
51534              213            21             29.849255    10226.39
52338              749            23             27.983659    12826.67
52084              353            13             27.012432    12795.59
50312             1554            56             26.957524    44551.78
52223               11             3             25.066667       74.99
52401             1201            36             24.939064    79949.95
50314             5749            93             24.204151   357011.44
52753             1722            38             23.761557    20933.38
52245              287            14             23.426100    16791.95
52254               51             6             23.348861      852.10
50228               59             7             23.223834      868.36
52068               71            11             23.187906     1461.74
51101              384            36             23.158567    18943.90
52722             3282           115             23.045847   189199.99
52031              305            22             21.819818     7806.34
52241             5924           126             21.798077   176377.35
52079              109             8             21.784333     1538.63
50628               43             6             21.745418     2481.91
52553               52             7             21.700635      954.95
52166               21             4             21.676291     2270.46
52776              117            16             21.641755     5559.62
50266             8249           156             21.371791   182647.29
50588             1892            79             21.328563    54620.21
50316             3137            74             21.308703    43220.15
50150               44             4             21.057041      271.00
51577               69             6             20.918312     1334.00
50703            12233           197             20.750907   131535.86
51450              201            15             20.697133     6146.25
...                ...           ...                   ...         ...
50430               45             6             12.118386      904.90
51005               54             3             12.072593      508.26
50529              126             4             12.058056      658.62
50542               36             2             12.043175      347.88
52060             1029            23             12.016511    32273.03
50630               21             3             11.881902     1391.43
50261              108             5             11.788095      551.70
50122               76             8             11.772392     1302.65
50438              219            10             11.555237     5288.86
52336               96             5             11.553862     1303.08
52316               40             8             11.506372      434.08
50072              108             7             11.506160      953.43
51338               21             3             11.479603      191.64
50076               60             4             11.461790      960.06
50475               60             4             11.419988      938.58
52324               60             4             11.333667     1268.70
52623               46             4             11.299619      283.98
50541               78             4             11.159000      492.00
51002               45             4             11.094444      577.44
51551               42             3             11.020175      771.18
50585              183            13             10.808917     2865.70
50161               42             3             10.782815      878.52
52224               42             3             10.758669     1294.86
50514               78             4             10.606726      705.90
50669               42             3             10.580397     1100.34
50056               90             5             10.114190     1014.42
52046               60             4              9.701425      677.28
50452               18             2              9.454381      345.54
50680              108             5              9.169270      528.54
50044              150             5              9.016930      610.02

[409 rows x 4 columns]

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [6]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.